<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastri</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/registro.css') }}">
</head>
<body>
    <div class="box">
        <h1>ACAD<br>PLANNER</h1>

        <p>SUA AGENDA ACADÊMICA.<br>
        ANOTE DATAS. NÃO PERCA PRAZOS. SEJA RESPONSÁVEL.</p>
    </div>
    <div class="caixa">
        <p class="titulo">Registro</p>
        <img src="{{ url_for('static', filename='images/caixa.png') }}"  class="imagem">
        <form action="{{ url_for('auth.register')}}" method="post" class="formulario">
            
            <input type="text" name="name" placeholder="nome" required>

            
            <input type="text" name="username" placeholder="nome de usuário" required>

           
            <input type="email" name="email" placeholder="email" required>

            
            <input type="password" name="password" placeholder="senha" required>

            <button class="btn">Enviar</button>
        </form>
    </div>
</body>
</html>